@model bigSales.Models.Product
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Ürün Oluştur</h2>
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Açıklama</label>
        <textarea asp-for="Description" class="form-control" rows="4"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Image">Ürün Görseli</label>
        <input type="file" name="Image" class="form-control" />
        <span asp-validation-for="ImagePath" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="CategoryId">Kategori Seç</label>
        <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"))">
            <option value="">Seçiniz</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Oluştur</button>
</form>
<a asp-controller="Admin" asp-action="List" class="btn btn-secondary">Listeye Dön</a>