@{
Layout = "_Layout"; // Layout.cshtml dosyasını kullanıyoruz
}

<section class="inner_page_head">
   <div class="container_fuild">
      <div class="row">
         <div class="col-md-12">
            <div class="full">
               <h3>Bizimle Tanışın</h3>
            </div>
         </div>
      </div>
   </div>
</section>
<section style="padding-top: 15px;padding-bottom: 15px;" class="why_section layout_padding">
   <div class="container">
      <div class="heading_container heading_center">
         <p style="font-size: 16px; text-align: start;">
            Balık avcılığının bir hobi değil, bir yaşam tarzı olduğunu biliyoruz. Bu nedenle, balıkçılık tutkunuz için
            ihtiyaç duyduğunuz en kaliteli malzemeleri ve ekipmanları sizlerle buluşturmak için buradayız. Yemli av,
            at-çek ve diğer balıkçılık tekniklerine özel olarak tasarlanmış ürünlerimizle, size her zaman en iyisini
            sunmayı hedefliyoruz.
            <li>En kaliteli yemler: Doğru yem, doğru balık! Her av için en uygun yemleri sunuyoruz.</li>
            <li>At-çek ekipmanları: Kusursuz atışlar ve unutulmaz avlar için profesyonel çözümler.</li>
            <li>Yemli takımlar: Deneyiminizi bir üst seviyeye taşıyan sağlam ve dayanıklı ürünler.</li>
            <br>
            <h4 style="margin-bottom: 0;">Vizyonumuz</h4>
         </p>
         <p style="font-size: 16px; text-align: start; margin-top: 0;">
            Amacımız, balıkçılık tutkunuzu destekleyerek, doğa ile uyum içinde geçirilen zamanın kalitesini artırmaktır.
            Müşteri memnuniyeti odaklı hizmet anlayışımızla, hem yeni başlayanlara hem de profesyonel balıkçılara hitap
            ediyoruz.
            Sözümüz
            Size en kaliteli ürünleri sunarken, uygun fiyat ve güvenilir alışveriş deneyimi sağlamayı taahhüt ediyoruz.
            Balıkçılıkla ilgili her ihtiyacınızda yanınızdayız.
         </p>
      </div>
</section>

<section style="padding-top: 15px;" class="why_section layout_padding">
   <div class="container">
      <div class="heading_container heading_center">
         <h2>
            Bizi Neden Seçmelisiniz?
         </h2>
      </div>
      <div class="row">
         <div class="col-md-4">
            <div class="box ">
               <div class="img-box">
                  <i class="fa-solid fa-truck-fast fa-2xl"></i>
               </div>
               <div class="detail-box">
                  <h5>
                     Hızlı Teslimat
                  </h5>
                  <p>
                     Ürünlerimiz Aynı Gün İçinde Kargoya Verilir!
                  </p>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="box ">
               <div class="img-box">
                  <i class="fa-solid fa-plane-departure fa-2xl"></i>
               </div>
               <div class="detail-box">
                  <h5>
                     Ücretsiz Kargo
                  </h5>
                  <p>
                     Herhangi Bir Şekilde Kargo Ücreti Almıyoruz!
                  </p>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="box ">
               <div class="img-box">
                  <i class="fa-solid fa-medal fa-2xl"></i>
               </div>
               <div class="detail-box">
                  <h5>
                     1. Derece Kalite
                  </h5>
                  <p>
                     Ürünlerimiz En İyi Kalitede Üretilmektedir!
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>