@{
Layout = "_Layout"; // Layout.cshtml
}
<section class="inner_page_head">
    <div class="container_fuild">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <h3>KVKK ve Gizlilik Politikası</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="why_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h4 style="font-weight: bold;">
                KİŞİSEL VERİLERİN KORUNMASINA İLİŞKİN AYDINLATMA METNİ
            </h4>
            <p style="font-size: 18px; text-align: start;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit assumenda, consequatur officia placeat nihil, reiciendis odio tenetur quam at vitae beatae corrupti modi tempora sequi voluptatum unde omnis cum similique eius rem fugit. Quos veritatis rerum et, modi dolor suscipit, cupiditate recusandae soluta quibusdam voluptas consectetur eveniet velit. Ea accusantium debitis aliquid molestias numquam ipsam cum sunt eum dolorum, quisquam nobis ex reiciendis fuga inventore suscipit molestiae enim sit vel ullam quo! Voluptas veniam aut quia perferendis numquam velit unde natus quos ut vero a voluptatum tenetur, ratione error atque odio. Quisquam fugiat, dolor dignissimos labore eius aliquam similique nobis fuga ipsam quasi. Minima totam aliquid voluptates quis illum a velit recusandae sapiente neque illo libero aliquam, explicabo nisi accusamus inventore veritatis ullam possimus similique dolorum, suscipit ea itaque debitis! Corporis consectetur pariatur, provident minus itaque cum cupiditate quo nobis similique nesciunt laudantium reprehenderit doloribus. Eveniet quae deserunt nostrum blanditiis est veniam nulla modi quo maiores, aut quam eius repellat iure quibusdam repudiandae impedit. Quos quae corrupti obcaecati provident neque, ea explicabo repellat at facilis quod laboriosam! Dolorum perferendis iste asperiores vitae sit! Animi, sunt excepturi eveniet, quibusdam, explicabo odit obcaecati dolorem sit fugit unde enim cum. Nam, deserunt eligendi?
            </p>
        </div>
</section>